{% extends 'base.html' %}

{% block title %}Área de extensión{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-3" style="background-color:gold;">
      <a><h2 style="color:white"><span class="align-middle">Academia MakerSpace</span></h2></a>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-3" style="background-color:cyan;">
      <a"><h2 style="color:white"><span class="align-middle">Vinculación con la comunidad</span></h2></a>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-3">
      <a><span class="align-middle">Otorgar metodologías y aprendizajes
                                    para el desarrollo y transferencia de
                                    conocimiento. “Makerspace que es conocimiento"</span></a>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-3">
      <a><span class="align-middle">Promocionar la filosofía Makerspace a
                                    través de su manifiesto: Hazlo tú
                                    mismo. “Makerspace que es vínculo” </span></a>
    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm-1,5" style="background-color:orangered;">
      <a><h5 style="color:white"><span class="align-middle">Workshop</span></h5></a>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-2" style="background-color:cyan;">
      <a"><h5><span class="align-middle">Ciclo de charlas</span></h5></a>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-1" style="background-color:gold;">
      <a"><h5><span class="align-middle">Eventos</span></h5></a>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-2" style="background-color:lavender;">
      <a"><h5><span class="align-middle">Clasespace V(formación continua)</span></h5></a>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-2" style="background-color:darkred;">
      <a"><h5 style="color:white"><span class="align-middle">Capacitaciones // Programas</span></h5></a>
    </div>
  </div>
  <br>
  <br>

  <center> Nuestras verticales del conocimiento son: Investigación,
                            creatividad, innovación, emprendimiento y tecnología
                            (electrónica,robótica,etc.).<br>
                            De manera transversal a las anteriores: Diseño.
  </center>

</div>

{% endblock %}
