{% extends 'base.html' %}

{% block title %}Área de extensión{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-3" style="background-color:gold;">
      <a><h2 style="color:white"><span class="align-middle">Academia MakerSpace</span></h2></a>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-3" style="background-color:cyan;">
      <a"><h2 style="color:white"><span class="align-middle">Vinculación con la comunidad</span></h2></a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-3">
      <a><span class="align-middle">Otorgar metodologías y aprendizajes
                                    para el desarrollo y transferencia de
                                    conocimiento. “Makerspace que es conocimiento"</span></a>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-3">
      <a><span class="align-middle">Promocionar la filosofía Makerspace a
                                    través de su manifiesto: Hazlo tú
                                    mismo. “Makerspace que es vínculo” </span></a>
    </div>
  </div>
  <br>

</div>

{% endblock %}
