{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Valparaíso MakerSpace</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Valparaiso MakerSpace</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'publico' %}">Público Objetivo</a>
        </li>
        <li class="nav-item active">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'posicionamiento' %}">Posicionamiento</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'quienes_somos' %}">¿Quienes somos?</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="{% url 'logout' %}">Logout </a>
        </li>
      </ul>
  </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img src="static/img/vm.jpg" class="img-fluid mb-5 d-block mx-auto"  alt="">
        <h1 class="text-uppercase mb-0">Valparaíso MakerSpace</h1>
        <hr class="star-light">
      </div>
    </header>

<section class="bg-primary text-white mb-0 text-center" id="Admin">
    <div class="container">
      <h2 class="text-uppercase mb-0">Administracion</h2>
    </div>
</section>
<section class="bg-primary text-white mb-0 text-center">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-1">
    </div>


    <div class="col-lg-1"">
      <a><h2 style="color:black"><span class="align-middle">Noticias</span></h2></a>
      <a href="{% url 'noticias' %}"><button type="submit" style="background:black" class="btn btn-primary">Ingresar</button></a>
    </div>

    <div class="col-lg-1">
    </div>

    <div class="col-lg-1"">
      <a"><h2 style="color: black"><span class="align-middle">Eventos</span></h2></a>
      <a href="{% url 'eventos' %}"><button type="submit" style="background:black" class="btn btn-primary">Ingresar</button></a>
    </div>

    <div class="col-lg-1">
    </div>

    <div class="col-lg-1">
      <a><h2 style="color: black"><span class="align-middle">Usuarios</span></h2></a>
      <a href="#"><button type="submit" style="background:black" class="btn btn-primary">Ingresar</button></a>
    </div>

    <div class="col-lg-1">
    </div>

    <div class="col-lg-1">
      <a"><h2 style="color: black"><span class="align-middle">Tags</span></h2></a>
       <a href="{% url 'tags' %}"><button type="submit" style="background:black" class="btn btn-primary">Ingresar</button></a>
    </div>

    <div class="col-lg-1">
    </div>
</section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Ubicacion</h4>
            <p class="lead mb-0">Facultad de Ingeniería PUCV, Av Brasil 2147, Valparaíso
              <br>Valparaíso, Chile</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Encuentranos !</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/ValparaisoMakerspace/">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              </li>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
              </li>

            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Contactanos</h4>
            <p class="lead mb-0">(32) 227 4151
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; ValpoMaker 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/freelancer.min.js' %}"></script>

  </body>

</html>


  </div>
