{% extends 'base.html' %}

{% block title %}Investigación y Desarrollo{% endblock %}

{% block content %}

<div class="container">
  <center> Tener la capacidad para desarrollar ideas e investigar conceptos a
            través de equipos interdisciplinarios y la habilitación de espacios.
  </center>
  <br><br>
  <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-4">
      <li id="selectoro"><span id="texto">Apoyo ó ejecución en postulaciones a
                                          líneas de financiamiento para la
                                          investigación.
      </span></li>
      <li id="selectoro"><span id="texto">Integrando equipos de trabajos a
                                          través de la habilitación de espacios.
      </span></li>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-4">
      <li id=selectoro><span id="texto">Proponer líneas de investigación con el
                                        propósito de la generación y
                                        transferencia de conocimientoMaker.<br>
                                        Ej: Potencial proyecto con Costa Digital.
      </span></li>
    </div>
  </div>
  <br>

</div>

{% endblock %}
