{% extends 'base.html' %}

{% block title %}Membresía y Alquiler{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-3" style="background-color:gold;">
      <a><h2 style="color:white"><span class="align-middle">Membresía</span></h2></a>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-3" style="background-color:cyan;">
      <a"><h2 style="color:white"><span class="align-middle">Alquiler</span></h2></a>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-3">
      <li id="selectora"><span id="texto">Para aquellos que no aceptan el sistema de
                                    beneficios y retribución al espacio, se hará
                                    cobro de una membresía mensual. <br>(valorizar su
                                    cobro, app $60.000, que incluye una promesa
                                    garantizada en uso de maquinaria y espacio).
      </span></li>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-3">
      <li id=selectorc><span id="texto">Arriendo del espacio para actividades
                                        relacionadas a los principios del
                                        movimiento maker.</span></li>
      <br>
      <li id=selectorc><span id="texto">El precio a cobrar corresponde a un 30%
                                        del ingreso percibido por la organización
                                        a través del evento. Si se solicita equipamiento,
                                        tales como, computadores, el porcentaje asciende
                                        al 40%. Si el evento es de categoría gratuita,
                                        se cobrará por hora un precio de $30.000 por
                                        arriendo del espacio.</span></li>
    </div>
  </div>
  <br>
</div>

{% endblock %}
