{% extends 'base.html' %}

{% block title %} Noticias {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2>Noticias</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <div class="form-group" >
          <a href="{% url 'agregar_noticia' %}"><button type="submit" class="btn btn-primary">Agregar Noticias</button></a>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <a href="{% url 'modificar_noticia' %}"><button type="submit" class="btn btn-primary">Editar Noticias</button></a>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <a href="{% url 'borrar_noticia' %}"><button type="submit" class="btn btn-primary">Eliminar Noticias</button></a>
        </div>
      </div>
    </div>
    <br>
    <div class="form-group" >
      <a href="{% url 'home' %}"><button type="submit" class="btn btn-primary">Volver</button></a>
    </div>
{% endblock %}
