
{% extends 'base.html' %}

{% block title %}Formas de Pago{% endblock %}

{% block content %}

<div class="container">
  <h1>Sistema de Pago MakerSpace</h1>
  <h3>Los proyectos podrán elegir entre dos modalidades:</h3>
<div class="row">
  <div class="col-sm-3" style="background-color:aqua;">
    <a href="#"><h2><span class="align-middle">Membresia</span></h2></a>
  </div>
  <div class="col-sm-2" style="background-color:white;">
  </div>
  <div class="col-sm-3" style="background-color:yellow;">
    <a href="#"><h2>Sistema de Retribucion y Beneficios</h2></a>
  </div>
</div>
<div class="container">

</div>


</div>

{% endblock %}
