{% extends 'base.html' %}

{% block title %}Público Objetivo{% endblock %}

{% block content %}

<div class="container">
  <ul>
    <li type="disc">
      <h5>Ser la base de la innovación desde la PUCV a través de la
          generación de prototipos de transferencia tecnológica,
          mediante la promoción del emprendimiento y la
          investigación.
      </h5>
    </li>
    <br>
    <li type="disc">
      <h5>Ser especialistas y referentes de prototipado en el
          ecosistema.
      </h5>
    </li>
    <br>
    <li type="disc">
      <h5>Ser parte del patrimonio tecnológico de la ciudad a través
          de la revolución 4.0.
      </h5>
    </li>
  </ul>
</div>


{% endblock %}
