{% extends 'base.html' %}

{% block title %}Público Objetivo{% endblock %}

{% block content %}

<div class="container">
  <ul>
    <li type="disc">
      <h4>Emprendedores e innovadores</h4>
      Poseen 2 tipos de perfiles de emprendimiento: idea y prototipo.
    </li>
    <li type="disc">
      <h4>Estudiantes y académicos</h4>
      Corresponden a los tesistas, académicos innovadores en docencia e investigadores.
    </li>
    <li type="disc">
      <h4>Inventores, los #Makers</h4>
      Son los diseñadores, artesanos ingenieros, etc.
    </li>
    <li type="disc">
      <h4>Empresas con intereses en la innovación</h4>
    </li>
  </ul>
</div>


{% endblock %}
