{% extends 'base.html' %}

{% block title %}¿Quienes somos?{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-3" style="background-color:teal;">
      <a><h2 style="color:white"><span class="align-middle">Somos ESPACIO</span></h2></a>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3" style="background-color:teal;">
      <a"><h2 style="color:white"><span class="align-middle">Somos COMUNIDAD</span></h2></a>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3" style="background-color:teal;">
      <a"><h2 style="color:white"><span class="align-middle">Somos CADENA DE VALOR</span></h2></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <a><h6><span class="align-middle">Libre, Cowork y de fabricación digital,
                                        que impulsa la innovación a través de
                                        la experimentación.</span></h6></a>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <a"><h6><span class="align-middle"> Emprendedores, inventores,
                                          académicos, estudiantes y
                                          empresas. De habilidades
                                          creativas, interdisciplinarias
                                          e innovadoras.</span></h6></a>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <a"><h6><span class="align-middle">Podrás ser parte del ecosistema
                                         de emprendimiento e
                                         innovación de la PUCV.</span></h6></a>
    </div>
  </div>
</div>

{% endblock %}
