{% extends 'base.html' %}

{% block title %}Retribución y Beneficios{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <li id="selectora" type='disc'><span id="texto">
          Ser parte del club de mentores
          The Lift, en representación de
          Valparaíso MakerSpace.
      </span></li>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-3">
      <li id="selectorc" type='disc'><span id="texto">
          Realizar un proyecto interno
          para Valparaíso MakerSpace
          (Ej: Diseño de paredes)
      </span></li>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-3">
      <li id="selectoro" type='disc'><span id="texto">
          Reconocimiento público
          del aporte percibido:
          RRSS, difusion en medios tradicionales.
      </span></li>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <li id="selectora" type='disc'><span id="texto">
            Ser parte de la ejecución del área
            de extensión makerspace, según
            sea las capacidades intelectuales
            y prácticas de cada equipo de
            trabajo.
      </span></li>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-3">
      <li id="selectorc" type='disc'><span id="texto">
          Ser parte del área de
          construcción y formulación
          de prototipado (Recibe *% de la
          valorización de los servicios otorgados y la
          otra parte lo entrega como forma de pago).
      </span></li>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-3">
      <li id="selectoro" type='disc'><span id="texto">
        Brindar toda la información
        solicitada, dado que “Todos los proyectos
        que están en el espacio son
        proyectos de Valparaíso
        Makerspace”.
      </span></li>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <li id="selectora" type='disc'><span id="texto">
        Ser parte del plan de inversión MakerSpace.
      </span></li>
    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-3">
      <li id="selectorc" type='disc'><span id="texto">
        Voluntario MakerSpace.
      </span></li>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <h5>OBSERVACIONES</h5>
  Diseño de convenio de sistema de retribución y beneficios de Valparaíso Makerspace y Proyecto “x”. Se detallarán los
métodos de pago a ofrecer, aceptado y comprometido.
Para este ítem, la hora hombre (HH) valorizada en Valparaíso makerspace es de $15.000 (externo)-$20.000 (interno)
</div>
{% endblock %}
