{% extends 'base.html' %}

{% block title %}Público Objetivo{% endblock %}

{% block content %}

<div class="container">
  <ul>
    <li type="disc">
      <h5>
        <a style='color:black' href="{% url 'pago' %}">Sistema de pago MakerSpace <span class="sr-only">(current)</span></a>
      </h5>
    </li>
    <br>
    <li type="disc">
      <h5>
        <a style='color:black' href="{% url 'retribucion' %}">Sistema de retribución y beneficios <span class="sr-only">(current)</span></a>
      </h5>
    </li>
    <br>
    <li type="disc">
      <h5>
        <a style='color:black' href="{% url 'prototipado' %}">1. Prototipado Ágil <span class="sr-only">(current)</span></a>
      </h5>
    </li>
    <br>
    <li type="disc">
      <h5>
        <a style='color:black' href="{% url 'area_extension' %}">2. Área de extensión MakerSpace<span class="sr-only">(current)</span></a>
      </h5>
    </li>
    <br>
    <li type="disc">
      <h5>
        <a style='color:black' href="{% url 'membresia' %}">3. Membresía y Alquiler<span class="sr-only">(current)</span></a>
      </h5>
    </li>
    <br>
    <li type="disc">
      <h5>
        <a style='color:black' href="{% url 'investigacion' %}">4. Investigación y Desarrollo<span class="sr-only">(current)</span></a>
      </h5>
    </li>
  </ul>
</div>


{% endblock %}
