
{% extends 'base.html' %}

{% block title %}Tipos{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-4">
      <h2>Crear Tipos</h2>
      <form  action="{% url 'crear_tipo' %}" method="POST">{% csrf_token %}
        <div class="form-group" action=>
          <label for="usr">Nombre:</label>
          <input type="text" class="form-control" name="nombre" id="nombre">
        </div>
        <button type="submit" class="btn btn-primary">Crear Tag</button>
      </form>
    </div>
    <div class="col-4">
      <h2>Editar Tipos</h2>
      <form  action="{% url 'editar_tag' %}" method="POST">{% csrf_token %}
        {% for t in tags %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name = 'id_tag' value="{{t.id_tag}}" checked>
          <label class="form-check-label">
            {{t.name_tag}}
          </label>
        </div>
        {% endfor %}
        <div class="form-group" >
          <input type="text" class="form-control" name="name_tag" id="name_tag">
        </div>
        <button type="submit" class="btn btn-primary">Editar Tag</button>
      </form>

    </div>
    <div class="col-4">
      <h2>Eliminar Tipos</h2>
      <form  action="{% url 'eliminar_tag' %}" method="POST">{% csrf_token %}
        {% for t in tags %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name = 'id_tag' value="{{t.id_tag}}" checked>
          <label class="form-check-label">
            {{t.name_tag}}
          </label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Eliminar Tag</button>
      </form>

    </div>


  </div
</div>

{% endblock %}
